@font-face {
  font-family: 'helvetica-con';
  /* Antes de descargar el archivo, le decimos al buscador
  que intente buscar en local la fuente con nombre
  Cabin, Cabin Regular o Cabin-Regular */
  src: local('helvetica-con'),
       url(../font/helvetica/helveticaneue-condensed-webfont.woff) format('woff');
}
@font-face {
  font-family: 'helvetica-light';
  src: local('helvetica-light'),
       url(../font/helvetica/helveticaneue-light.woff) format('woff');
}
@font-face {
  font-family: 'helvetica-med';
  src: local('helvetica-med'),
       url(../font/helvetica/HelveticaNeue-Medium.woff) format('woff');
}
@font-face {
  font-family: 'helvetica-med-con';
  src: local('helvetica-med-con'),
       url(../font/helvetica/helveticaneue-mediumcond-webfont.woff) format('woff');
}
@font-face {
  font-family: 'helvetica-thin';
  src: local('helvetica-thin'),
       url(../font/helvetica/helveticaneue-thin.woff) format('woff');
}
@font-face {
  font-family: 'helvetica-uligtht';
  src: local('helvetica-uligtht'),
       url(../font/helvetica/HelveticaNeue-UltraLight.woff) format('woff');
}
@font-face {
  font-family: 'helvetica';
  src: local('helvetica'),
       url(../font/helvetica/helveticaneue.woff) format('woff');
}
.nav{
  padding-bottom: 10px;
}
#sec-1{
  padding-top: 3%;
}
.bg-hue{
  /* background: #757575; */
  background: url("../img/huellas2.png");
  background-size: 27%;
}
.logo{
  src: url("../img/logo2.png");
}
html,
body,
header,
.jarallax {
  height: 100vh;
}

html,
body,
header,
.intro-2 {
  height: 700px;
}

.no-margin{
  margin: 0;
}
.font{
  font-family: "helvetica-con";
}
.font2{
  font-family: "helvetica-light";
}
.font3{
  font-family: "helvetica-med";
}
.font4{
  font-family: "helvetica-med-con";
}
.font5{
  font-family: "helvetica-thin";
}
.font6{
  font-family: "helvetica-uligtht";
}
.font7{
  font-family: "helvetica";
}
.testimonial {
  background: #f1f1f1;
  padding: 50px 0 30px 0;
  text-align:center;
  margin-top: 40px;
}
.testimonial#sec-3{
  background: #414141;
}
.sinpadding [class*="col-"] {
    padding: 0;
}

.cardBox:hover + .card2 {
    transform: rotateY( 180deg);
}


.card2 {
    /* background: #222; */
    /* color: black; */
    cursor: default;
    height: 300px;
    transform-style: preserve-3d;
    transition: transform 0.4s ease 0s;
    width: 100%;
    -webkit-animation: giro 1s 1;
    animation: giro 1s 1;
}


.card2 .front,
.card2 .back {
    backface-visibility: hidden;
    box-sizing: border-box;
    /* color: white; */
    display: block;
    /* font-size: 1.2em; */
    height: 100%;
    padding: .5em;
    position: absolute;
    text-align: center;
    width: 100%;
}


.card2 .back {
    transform: rotateY( 180deg);
    padding-left: 2em;
}



@-webkit-keyframes giro {
    from {
        transform: rotateY( 180deg);
    }
    to {
        transform: rotateY( 0deg);
    }
}

@keyframes giro {
    from {
        transform: rotateY( 180deg);
    }
    to {
        transform: rotateY( 0deg);
    }
}

@media screen and (max-width: 767px) {
    .cardBox {
        margin-left: 2.8%;
        margin-top: 3%;
        width: 46%;
    }
    .card2 {
        height: 285px;
    }
    .cardBox:last-child {
        margin-bottom: 3%;
    }
}

@media screen and (max-width: 480px) {
    .cardBox {
        width: 94.5%;
    }
    .card2 {
        height: 260px;
    }
}

/* izquierda */
.cardBox2:hover + .card22 {
    transform: rotateY( 180deg);
}

.cardBox2{
  left: 50%;
}
.card22 {
    /* background: #222; */
    /* color: black; */
    cursor: default;
    height: 300px;
    transform-style: preserve-3d;
    transition: transform 0.4s ease 0s;
    width: 100%;
    -webkit-animation: giro2 1s 1;
    animation: giro2 1s 1;
    right: 50%;
}


.card22 .front2,
.card22 .back2 {
    backface-visibility: hidden;
    box-sizing: border-box;
    /* color: white; */
    display: block;
    /* font-size: 1.2em; */
    height: 100%;
    padding: .8em;
    position: absolute;
    text-align: center;
    width: 100%;
}


.card22 .back2 {
    transform: rotateY( 180deg);
    padding-left: 2em;
}



@-webkit-keyframes giro2 {
    from {
        transform: rotateY( 180deg);
    }
    to {
        transform: rotateY( 0deg);
    }
}

@keyframes giro2 {
    from {
        transform: rotateY( 180deg);
    }
    to {
        transform: rotateY( 0deg);
    }
}

@media screen and (max-width: 767px) {
    .cardBox2 {
        margin-left: 2.8%;
        margin-top: 3%;
        width: 46%;
    }
    .card22 {
        height: 285px;
    }
    .cardBox2:last-child {
        margin-bottom: 3%;
    }
}

@media screen and (max-width: 480px) {
    .cardBox2 {
        width: 94.5%;
    }
    .card22 {
        height: 260px;
    }
}
/* fin izquierda */



.pading{
  padding-top: 10%;
}
body{
  background: #212121;
}
.color-txt{
  color: white;
}
.parallax-window {
    min-height: 400px;
    background: transparent;
}
#sec-1{
  padding-top: 10%;
}
.redond{
  border-radius: 50%;
  border: solid 2px white;
}
.hov{

}
.btnh{
  border-radius:22.5px;
}
.btnh:hover{
  background: #212121;
}
.text-dang{
  color:#C70038;
}

.contenedor{
    position: relative;
    display: inline-block;
    text-align: center;
}

.texto-encima{
    position: absolute;
    top: 10px;
    left: 10px;
}
.centrado{
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3em;
    color: white;
}

.con:hover{
border-bottom-left-radius: 25%;
-webkit-border-radius:0 0 0 25%;
box-shadow: 0px 0px 15px 15px #ec731e;
-webkit-box-shadow: 0px 0px 15px 15px #ec731e;
transform: rotate(360deg);
-webkit-transform: rotate(360deg);
}


.circle {
  width: 70px;
  height: 70px;
  background: green;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  /* position: absolute; */
}

.circle::before, .circle::after {
  content:"";
  position:absolute;
  top: 50%;
  left: 50%;
  transform:translate(-50%, -50%);
  width: 70px;
  height: 70px;
  border: 10px solid gray;
  border-radius:100%;
  animation: latido linear 3s infinite;
}

.circle::after {
  animation-delay: -1.5s;
}

@keyframes latido {
  0% { width:70px; height:70px; border:10px solid gray; }
  100% { width:120px; height:120px; border:10px solid transparent; }
}

.icono {
  width: 42px;
  height: 42px;
  margin-top: 12px;
  margin-left: 14.5px;
}

#button-0 { top: 50px; left: 100px; }

.pru{
  animation: latido linear 3s infinite;
}

.imgd{
position:relative;
left:40px;
top:67px;
z-index:-1;
}

.img2
{
position:relative;
left:40px;
top:100px;
z-index:-3;
}
a{
  text-decoration: none;
}

.ing-tit{
font-size:1em;
}
.ing-sub{
font-size:15px;
}

.no-padding{
  padding: 0;
  margin: 0;
}
